

<div class="d-flex justify-content-center align-items-center" style="height:@Height;">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


@code {
    [Parameter]
    public string? Height { get; set; }

    protected override void OnParametersSet()
    {
        Height = Height ?? "80vh";
    }
}
