@inject BlazorApp2.Services.ProductCartService cartService
@using ModelsClassLibrary.Models

@* <div class="top-row ps-3 py-0 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://placehold.co/40?text=Z" style="border-radius:50%;" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fruits-vegetables">
                <span aria-hidden="true"></span>  <i class="fa-solid fa-carrot me-3"></i> Fruits/Vegetables
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-products">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Products
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
 *@

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/add-products" Match="NavLinkMatch.Prefix">Add Products</MudNavLink>
    <MudNavGroup Title="Products" Expanded="true">
        <MudNavLink Href="/all-products-list" Match="NavLinkMatch.Prefix">Products</MudNavLink>
        <MudNavLink Href="/product-cart" Match="NavLinkMatch.Prefix">
            <MudBadge Origin="Origin.TopRight" Content="@cartService.CartItems.Count" Color="Color.Secondary" Overlap=true>
                Cart<MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Size="Size.Medium" />
            </MudBadge>
        </MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/counter" Match="NavLinkMatch.Prefix">Counter</MudNavLink>
</MudNavMenu>


@code {
    // private int badgeContent { get; set; }

    // protected override void OnAfterRender(bool firstRender)
    // {
    //     List<Product> Products = cartService.CartItems;
    //     badgeContent = Products.Count();
    // }
}